@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


a{
    color: white;
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

body::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255, 58, 58);
    position: absolute;
    clip-path: circle(40% at right 80%);
    opacity: .8;
    top: 94px;
}

.container{
    background-color: #333;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    padding: 20px 90px;
    margin-top: 60px;
    position: relative;
}


.container .container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .logo h1{
    letter-spacing: 3px;
}



.container .container-nav .links-ul li{
    display: inline;
    margin-left: 30px;
}




/* landing section */

.container-landing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;

}


.container-landing .text{
    flex: 0.7;
    min-height: 30px;
    margin-bottom: 80px;
}

.container-landing .text h1{
    font-size: 60px;
}


.container-landing .text p{
    line-height: 1.7;
    color: #eee;
}


.container-landing .image{
    position: relative;
    z-index: 44;
}

.container-landing .image img{
    width: 600px;
    position: relative;
    z-index: 33;
}

.links-ul{
    padding: 0;
}


/* landing section */


/* media query */

@media (max-width:768px) {
    .container{
        width: 90%;
        height: 90%;
        padding: 20px;
    }

    .container-landing .text {
        padding: 20px;
    }

    .container-landing .image img{
        width: 300px;
    }

    .container-landing .text h1{ 
        font-size: 40px;
    }
    
    .container-landing .text p{ 
        font-size: 15px;
        line-height: 1.8;
    }

    .container-landing{
        display: block;
        text-align: center;
    }

    .container .container-nav{
        display: block;
    }

    .container .logo h1{
        text-align: center;
        margin-bottom: 50px;
    }

    .links-ul{
        text-align: center;
    }

    .container .container-nav .links-ul li{
        margin-left: 10px;
    }

    body::after{
        clip-path: circle(30% at bottom)
    }
}



@media (min-width:768px) and (max-width:992px){
    .container{
        width: 90%;
        height: 90%;
        padding: 20px;
    }

    .container-landing .text {
        padding: 20px;
    }

    .container-landing .image img{
        width: 500px;
    }

    .container-landing .text h1{ 
        font-size: 40px;
    }
    
    .container-landing .text p{ 
        font-size: 15px;
        line-height: 1.8;
    }

    .container-landing{
        display: block;
        text-align: center;
    }

    .container .container-nav{
        display: block;
    }

    .container .logo h1{
        text-align: center;
        margin-bottom: 50px;
    }

    .links-ul{
        text-align: center;
    }

    .container .container-nav .links-ul li{
        margin-left: 10px;
    }

    body::after{
        clip-path: circle(40% at bottom)
    }
}




@media (min-width:992px) and (max-width:1299px){
    .container{
        width: 90%;
        height: 90%;
        padding: 20px;
    }

    .container-landing .text {
        padding: 20px;
    }

    .container-landing .image img{
        width: 500px;
    }

    .container-landing .text h1{ 
        font-size: 40px;
    }
    
    .container-landing .text p{ 
        font-size: 15px;
        line-height: 1.8;
    }

    .container-landing{
        display: block;
        text-align: center;
    }

    .container .container-nav{
        display: block;
    }

    .container .logo h1{
        text-align: center;
        margin-bottom: 50px;
    }

    .links-ul{
        text-align: center;
    }

    .container .container-nav .links-ul li{
        margin-left: 30px;
    }

    body::after{
        clip-path: circle(40% at bottom)
    }
}